/*menu flex box*/
#menu-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction:row;
}

#menu-list li {
    background-color: grey;
    font-size: 25px;
    flex-basis: 80px;
    text-align: center;
}

