/* color scheme */

:root {
	--main-hue: 220; /* blue */
	--main-color: hsl(var(--main-hue), 50%, 50%);

	--accent-one-hue: calc(var(--main-hue) - 250);
	--accent-one: hsl(var(--accent-one-hue), 40%, 60%);

	--accent-two-hue: calc(var(--main-hue) + 255);
	--accent-two: hsl(var(--accent-two-hue), 20%, 80%);
    
   --text-color: hsl(var(--accent-two-hue), 10%, 90%);
}

body {
    background-color: var(--accent-one);
}

#title {
	color: var(--main-color);
	text-shadow: 2px 2px 0 var(--accent-two);
}

#login input, #sign-up input {
	background: var(--main-color);
	border: none;
	padding: 0.25em;
}
input::placeholder {
	color: var(--text-color);
}
	
#login button, #sign-up button {
	background: var(--main-color);
	color: var(--text-color);
	padding: 0.25em;
}
	
#menu a {
	color: var(--accent-two);
	transition: color 300ms ease-in;
}
	
#menu a:hover {
	color: var(--main-color);
}
	
#write-post {
	border: 1px solid var(--main-color);
}
#write-post::placeholder {
	color: var(--main-color);
}

#submit-post {
	background: var(--main-color);
	color: var(--accent-two);
}

.post-text {
	border-bottom: 1px dotted var(--accent-two);
}
	
.post .author {
	color: var(--accent-two);
    font-weight: 200;
}
	
.post .date {
	color: var(--main-color);
}