
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
	line-height: 1.25;
    width: 100%;
}

#container{
    width: 100%;
    margin: 0 auto;
}

#title {
    width: 75%;
    float: left;
}

#title img{
   width: 15%;
   
}

#sign-in, #sign-up {
    width: 10%;
    float: left;
    border-radius: 200px;
    font-size: 10px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22; 
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff; 
} 

/*menu flex box*/
#menu {
   width: 100%; 
    float: left;
}

#menu-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 0 auto;
    color: #F4511E;
}

#menu-list li {
    margin-left: 5%;
    position: relative;
    margin-left: 10%;
    font-size: 1.5em;
    margin-bottom: 10%;
}


.banner img {
    width: 100%;
}

.main {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin: 10%;
}

h1 {
    font-size: 2em;
    color: #F4511E;
}

.section-ecards {
    padding: 0;
}

.ecards-showcase {
    list-style: none;
    width: !00%;  
}

.ecards-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.ecards-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.ecards-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.ecards-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

