/* color scheme */

:root {
	--main-color: #002C54; /* dusk blue */
	--accent-color: #E7552C; /* blood orange */
	--text-color: white;
    --cover: #659DBD; /* blue */
}

body {
    background-color: cover;
}

#title {
	color: var(--main-color);
	text-shadow: 2px 2px 0 var(--accent-color);
}

#login input, #sign-up input {
	background: var(--main-color);
	border: none;
	padding: 0.25em;
}
input::placeholder {
	color: var(--text-color);
}
	
#login button, #sign-up button {
	background: var(--main-color);
	color: var(--text-color);
	padding: 0.25em;
}
	
#menu a {
	color: var(--accent-color);
	transition: color 300ms ease-in;
}
	
#menu a:hover {
	color: var(--main-color);
}
	
#write-post {
	border: 1px solid var(--main-color);
}
#write-post::placeholder {
	color: var(--main-color);
}

#submit-post {
	background: var(--main-color);
	color: var(--text-color);
}

.post-text {
	border-bottom: 2px dotted var(--cover);
}
	
.post .author {
	color: var(--main-color);
}
	
.post .date {
	color: var(--cover);
}