#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 1em;
    
    grid-template-areas: 
        "menu menu header"
        "sign-up sign-up login"
        "main main post";
}


#menu {
    grid-area: menu;
/*    background-color: darkturquoise;*/
}

#title {
    grid-area: header;
/*    background-color: red;*/
}

#sign-up {
    grid-area: sign-up;
/*    background-color: blue;*/
}

#login {
    grid-area: login;
/*    background-color: darkgoldenrod;*/
}

#posts {
    grid-area: main;
/*    background-color: darkorange;*/
}

#post {
    grid-area: post;
/*    background-color: darkviolet;*/
}




