/*menu flex box*/
#menu-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#menu-list li {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 40px;
}


