body {
	background-color: #696969;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

#container {
	width: 800px;
	margin: 0 auto;	
}

img { width: 100%; 
}

.slide {
	border-bottom: 10px ridge white;
	margin-top: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
}